.container-bg {
  background-image: linear-gradient(to right, rgba(238, 130, 238, 0.7), rgba(76, 0, 130, 0.6), rgba(0, 0, 255, 0.6), rgba(0, 128, 0, 0.7));
}

.in-color{
  background-color: rgba(183, 0, 255, 0.2);
}

.text-color{
  color: white
}

.nav-color{
  background-image: linear-gradient(to right, rgba(238, 130, 238, 0.8), rgba(76, 0, 130, 0.7), rgba(0, 0, 255, 0.7), rgba(0, 128, 0, 0.8));
  color: white
}

.scale{
  transform: scale(.9);
  /* transform-origin: 0 0 0 0; */
}
